@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

:root, input, select {
    font-family: Jockey One;
    font-size: 18pt;
    color: white;
}

@media (pointer:none), (pointer:coarse) {    
    :root {
        font-size: 48pt;
    }
}

input, select, option {
    font-size: 1rem;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("background.jpg");
    background-size: cover;
    background-color: #161616;
}

header, main, #ctrls, footer {
    position: relative;
    margin: auto;
    display: grid;
    align-content: center;
    min-width: 50vh;
}
header, #ctrls, footer {
    width: 50vh;
}

header {
    justify-content: center;
    grid-auto-flow: row;
}

main {
    align-content: start;
    grid-auto-flow: row;
}
main input {
    padding: 1rem;
    margin: 1rem;
    margin-top: 0.5rem;
}
main label,
main select {
    margin: 1rem;
    margin-bottom: 0;
}

footer,
#editor-buttons,
#viewer-buttons {
    grid-auto-flow: column;
    justify-content: end;
}
footer input {
    margin: 0.5rem 0.25rem;    
}


input {
    background-color: transparent;
    border: none;
    border-radius: 6pt;
    padding: 0.5rem 1rem;
    outline: none;
}
input:hover,
select:hover + input,
label:hover + input,
input:focus {
    background-color: rgba(255, 255, 255, 0.1);
}
label, select {
    opacity: 0.5;
}
label:hover, select:hover {
    opacity: 1;
}
select {
    background-color: transparent;
    border: none;
    outline: none;
}
option {
    background-color: black;
    border: none;
    outline: none;
}


#canvas {
    position: relative;
    background-color: black;
    border: 1px solid white;
    border-radius: 6pt;
    width: auto;
    margin: auto;
    min-width: 50vh;
    z-index: 10;
}

#table {
    width: auto;
    height: auto;
    padding: 0.5rem;
    border-spacing: 0;
    empty-cells: show;
    font-size: 14pt;
}
tr.grand-head {
    color: rgba(255, 255, 255, 0.5);
}
tr.weight-row th,
tr.weight-row td {
    border-top: 1px solid white;
}
td, th {
    padding: 0.5rem;
}
td:hover, th:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


@media print {
    #canvas {
        position: fixed;
        top: 0; bottom: 0; left: 0; right: 0;
        background-color: white;
        border-radius: 0;
    }
    #table, th, td {
        border-collapse: collapse;
        border: 1px solid black;
        height: auto;
    }
    * {
        color: black;
    }
    :root {
        font-size: 18pt;
    }
}
